.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Ignore temp and cache files.
_freeze/
index_cache/
index_files/
notebooks/*_cache/
notebooks/*.ipynb
notebooks/*.html

/.quarto/
/_manuscript

/agujournal2019.cls
/trackchanges.sty
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
TODO.md


